@import "~bootstrap/dist/css/bootstrap.min.css";

.card {
  width: 200px;
  height: 300px;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  font-size: 2rem;
}

.suit {
  font-size: 3rem;
}
